#header {
  height: 46px;
  background-color: #26ade4;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  overflow:visible;
}

#nav {
  display: inline-block;
}

#nav>li {
  display: inline-block;
}

#nav li {
  position: relative;
}

#nav>li>a {
  color: #fff;
}

#nav li a {
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
  color: #fff;
  display: block;
}

#nav,
.subnav {
  list-style: none;
}

#nav>li:hover>a,
#nav .subnav li:hover a {
  color: #000!important;
  background-color: #ccc!important;
  
}

#nav li:hover .subnav {
  display: block;
}

#nav .subnav a {
  color: #000;
  padding: 0 12px;
  line-height: 38px;
  width : 154.39px;
}

#nav .subnav {
  min-width: 126.625px;
  position: absolute;
  background-color: #26ade4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  top: 100%;
  display: none;
  left: 0;
}
#nav .subnav li:hover a {
  min-width: 102.625px;
}