@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Ubuntu',sans-serif;
}
body{
  min-height: 100vh;
  /* background: #365fa1; */
}
.item1 > div{
    /* font-size: 30px; */
    text-align: center;
}
.header{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-transform: uppercase capitalize;
}
.function{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding-top: 20px;
    text-transform: uppercase;
}
 /* CSS cho thanh menu item1 */
.navigation{
    position: fixed;
    inset: 20px;
    background: #287bff;
    width: 80px;
    border-left: 10px solid #287bff;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.05);
    transition: 0.5s;
}
.navigation.active{
    width: 280px;
    border-radius: 20px;
}

.toggle{
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle::before{
    content: '';
    position: absolute;
    width: 26px;
    height: 3px;
    border-radius: 3px;
    background: #365fa1;
    transform: translateY(-5px);
    transition: 1s;
}
.toggle::after{
    content: '';
    position: absolute;
    width: 26px;
    height: 3px;
    border-radius: 3px;
    background: #365fa1;
    transform: translateY(5px);
    transition: 1s;
}

.navigation.active .toggle::before{
    transform: translateY(0px) rotate(-405deg);
}
.navigation.active .toggle::after{
    transform: translateY(0px) rotate(225deg);
}

.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

}

.navigation ul li{
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    /* background: #fff; */
}
.navigation ul li:hover{
    background: #fff;
}
.navigation ul li:nth-child(1){
    top: 20px;
    margin-bottom:40px;
    background: none;
}
.navigation ul li:not(:first-child):hover::before{
    content:'';
    position: absolute;
    top: -20px;
    right: 0;
    width: 20px;
    height: 20px;
    background: transparent;
    border-bottom-right-radius: 20px;
    box-shadow: 7.5px 7.5px 7.5px #fff;
}
.navigation ul li:not(:first-child):hover::after{
    content:'';
    position: absolute;
    bottom: -20px;
    right: 0;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 7.5px -7.5px 7.5px #fff;
}
.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}
.navigation ul li:hover:not(:first-child) a{
    color: #365fa1;
}
.navigation ul li a .icon,.navigation ul li a .fa {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}
.navigation ul li a .icon ion-icon,
.navigation ul li a .fa{
    font-size: 1.75em;
}
.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

.item2{
    height: 400px;
    margin-left: 10px;
}

 /* CSS item3 */
.item3{
 height: 850px;
 width: 100%;
}
::placeholder { 
  color: #fff;
  /* font-size: 5rem; */
  /* text-transform: uppercase; */
}

.search-box{
  position: absolute;
  top: 100px;
  left: 150px;
  z-index: 1;
  background-color: #26ade4;
  border-radius: 40px;
  /* border: 1px solid #999; */
  transform: (-50%,50%);
  text-align: center;
  font-family: "Roboto", "sans-serif";
  height: 50px;
  padding: 10px;
  transition: 0.5s;
}
.search-box.active{
  position: absolute;
  top: 100px;
  left: 320px;
  z-index: 1;
  background-color: #26ade4;
  border-radius: 40px;
  /* border: 1px solid #999; */
  transform: (-50%,50%);
  text-align: center;
  font-family: "Roboto", "sans-serif";
  height: 50px;
  padding: 10px;

}


.search-box:hover > #shipments{
  width: 300px;
  padding: 0 6px;
}
.search-box:hover > .search-btn{
  background: #fff;
}

#shipments{
  background-color: #26ade4;
  color: #fff;
  border: none;
  outline: none;
  float: left;
  font-size: 16px;
  transition: 0.4s;
  line-height: 30px;
  width: 0px;
}
.search-btn{
  color: #26ade4;
  float:right;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

/* CSS của depot */
.search-box1{
  position: absolute;
  top: 160px;
  left: 150px;
  z-index: 1;
  background-color: #26ade4;
  border-radius: 40px;
  /* border: 1px solid #999; */
  transform: (-50%,50%);
  text-align: center;
  font-family: "Roboto", "sans-serif";
  height: 50px;
  padding: 10px;
  transition: 0.5s;
}
.search-box1.active{
  position: absolute;
  top: 160px;
  left: 320px;
  z-index: 1;
  background-color: #26ade4;
  border-radius: 40px;
  /* border: 1px solid #999; */
  transform: (-50%,50%);
  text-align: center;
  font-family: "Roboto", "sans-serif";
  height: 50px;
  padding: 10px;
  transition: 0.5s;
}



.search-box1:hover > #depot{
  width: 300px;
  padding: 0 6px;
}
.search-box1:hover > .search-btn1{
  background: #fff;
}

#depot{
  background-color: #26ade4;
  color: #fff;
  border: none;
  outline: none;
  float: left;
  font-size: 16px;
  transition: 0.4s;
  line-height: 30px;
  width: 0px;
}
.search-btn1{
  color: #26ade4;
  float:right;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}


#map {
  position: absolute;
  height: 860px;
  /* The height is 400 pixels */
  /* margin-left: 100px; */
  width: 90%;
  left: 150px;
  /* The width is the width of the web page */
  border-radius: 20px;
  transition: 0.5s;
}

#map.responsive{
  position: absolute;
  height: 860px;
  /* The height is 400 pixels */
  /* margin-left: 100px; */
  width: 82%;
  left: 320px;
  /* The width is the width of the web page */
  border-radius: 20px;
}

/* CSS cua item4 */

#create-shipment{
  padding-top: 10px;
  padding-left: 0px;
  width: 300px;
  margin-top: 10px;
}

#create-depot{
  padding-top: 10px;
  padding-left: 0px;
  margin-top: 15px;
}

#create-vehicle{
  padding-top: 10px;
  padding-left: 0px;
}

.button{
  margin-top: 10px;
  width: 150px;
  font-family: monospace;
  height: 30px;
  font-size: 15px;
  background-color: #26ade4;
  border-radius: 10px;
  margin-left: 80px;
}

.button:hover,
#btn-cancel:hover,
#cars:hover{
  /* background-color: #9b59b6; */
  cursor: pointer;
  background: #03A9F4 !important;
  color: white !important;
  border-radius:20px;
}

option{
  color: black;
}

#btn-cancel{
  margin-top: 10px;
  width: 200px;
  font-family: monospace;
  height: 50px;
  font-size: 15px;  
  background-color: #26ade4;
  border-radius: 10px;
  margin-left: 80px;
}
/* #cars{
  border-radius: 20px;
  border: 2px solid;
} */



.item5{
    height: 10px;
    padding-bottom: 0px;
    text-align: center;
}

 
/* CSS của Login */
:root {
  --bg1: #9b59b6;
  --bg2: #3498db;
  --text: #26ade4;
}
a {
  text-decoration: none;
}
p{
  width: 150px;
  margin-bottom: 5px;
  font-size: 15px;
}

/* CSS Login */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom right, var(--bg1), var(--bg2));
}
#form-login {
  margin-right: 5%;
  height: 500px;
  width: 300px;
  background: #fff;
  border-radius: 10px;
  padding: 40px 30px;
}
#form-login h1 {
  margin-bottom: 40px;
  font-family: 'Times New Roman', Times, serif;
}
#form-login button {
  height: 35px;
  width: 100%;
  margin-bottom: 30px;
  background: linear-gradient(120deg, var(--bg1), var(--bg2), var(--bg1));
  border: none;
  background-size: 200%;
  color: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
}
#form-login button:hover {
  background-position: right;
}
.form-username {
  margin-bottom: 40px;
  position: relative;
  width: 100%;
  height: 35px;
  border: none;
  border-bottom: 2px solid #ccc;
  cursor: pointer;
  padding-left: 20px;
}
.form-password {
  margin-bottom: 40px;
  position: relative;
  width: 100%;
  height: 35px;
  border: none;
  border-bottom: 2px solid #ccc;
  cursor: pointer;
  padding-left: 20px;
}
.form-button {
  margin-bottom: 40px;
  position: relative;
}

#icon-xe {
  display: block;
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
  padding-left: 95px;
}

.cars{
  position: absolute;
  top: 220px;
  left: 150px;
  z-index: 1;
  background-color: #26ade4;
  border-radius: 40px;
  /* border: 1px solid #999; */
  transform: (-50%,50%);
  text-align: center;
  font-family: "Roboto", "sans-serif";
  height: 50px;
  padding: 0px;
  width: 150px;
  transition: 0.5s;
  font-size: 14px;
  cursor: pointer;
 }

 .cars.active{
  position: absolute;
  top: 220px;
  left: 320px;
  z-index: 1;
  background-color: #26ade4;
  border-radius: 40px;
  /* border: 1px solid #999; */
  transform: (-50%,50%);
  text-align: center;
  font-family: "Roboto", "sans-serif";
  height: 50px;
  padding: 10px;
  transition: 0.5s;
  cursor: pointer;
}
 /* Nút VẼ */
 .search-box2{
  position: absolute;
  top: 280px;
  left: 150px;
  z-index: 1;
  background-color: #26ade4;
  border-radius: 40px;
  /* border: 1px solid #999; */
  transform: (-50%,50%);
  text-align: center;
  font-family: "Roboto", "sans-serif";
  height: 50px;
  padding: 10px;
  transition: 0.5s;
  cursor: pointer;
}
.search-box2.active{
  position: absolute;
  top: 280px;
  left: 320px;
  z-index: 1;
  background-color: #26ade4;
  border-radius: 40px;
  /* border: 1px solid #999; */
  transform: (-50%,50%);
  text-align: center;
  font-family: "Roboto", "sans-serif";
  height: 50px;
  padding: 10px;
  transition: 0.5s;
  cursor: pointer;
}


.search-box2:hover > .button-optimize{
  background: #fff;
  
}

/* #optimize{
  background-color: #26ade4;
  color: #fff;
  border: none;
  outline: none;
  float: left;
  font-size: 16px;
  transition: 0.4s;
  line-height: 30px;
  width: 0px;
} */
.button-optimize{
  color: #26ade4;
  float:right;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  cursor: pointer;
}
.container-table-route{
  border-collapse: collapse;
box-shadow: 0 5px 10px #e1e5ee;
background-color: white;
text-align: left;
margin-left: 50px;
margin-bottom: 50px;
margin-right: 50px;
position: relative;
height: 300px;
overflow: scroll;
overflow-x: hidden;

}
.container-table-customer{
  border-collapse: collapse;
  box-shadow: 0 5px 10px #e1e5ee;
  background-color: white;
  text-align: left;
  margin-bottom: 50px;
  position: relative;
  height: 300px;
  overflow: scroll;
  overflow-x: hidden;
  margin-left: 50px;
}
.container-table-vehicle{
  border-collapse: collapse;
  box-shadow: 0 5px 10px #e1e5ee;
  background-color: white;
  text-align: left;
  margin-bottom: 50px;
  position: relative;
  height: 300px;
  overflow: scroll;
  overflow-x: hidden;
  margin-left: 50px;
}

h4.tieude1{
  margin-left: 50px;
}
h4.tieude2{
  margin-left: 50px;
}
h4.tieude3{
  margin-left: 50px;
}

