:root {
  --bg1: #9b59b6;
  --bg2: #3498db;
  --text: #26ade4;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom right, var(--bg1), var(--bg2));
}
#form-login {
  height: 500px;
  width: 300px;
  background: #fff;
  border-radius: 10px;
  padding: 40px 30px;
}
#form-login h1 {
  margin-bottom: 40px;
}
#form-login button {
  height: 35px;
  width: 100%;
  margin-bottom: 30px;
  background: linear-gradient(120deg, var(--bg1), var(--bg2), var(--bg1));
  border: none;
  background-size: 200%;
  color: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
}
#form-login button:hover {
  background-position: right;
}
.form-username {
  margin-bottom: 40px;
  position: relative;
  width: 100%;
  height: 35px;
  border: none;
  border-bottom: 2px solid #ccc;
  cursor: pointer;
  padding-left: 20px;
}
.form-password {
  margin-bottom: 40px;
  position: relative;
  width: 100%;
  height: 35px;
  border: none;
  border-bottom: 2px solid #ccc;
  cursor: pointer;
  padding-left: 20px;
}
.form-button {
  margin-bottom: 40px;
  position: relative;
}
#icon-xe {
  display: block;
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
  padding-left: 95px;
}

.map-container{
  height: 800px;
    /* The height is 400 pixels */
  position: relative;
  width: 1500px;
  left: 50px;
  float:right;
  margin-right:90px;
  margin-top:40px;
}
#floating-panel{
  float: left;
  margin-top: 40px;
}
#create-shipment{
  padding-top: 10px;
  padding-left: 15px;
  width: 60px;
}

#create-depot{
  padding-top: 10px;
  padding-left: 15px;
}

#create-vehicle{
  padding-top: 10px;
  padding-left: 15px;
}

#shipments{
  width: 300px;
  height: 30px;
}

#depot{
  width: 300px;
  height: 30px;
}

#button-draw{
  margin-top: 20px;
  width: 150px;
  margin-left: 15px;
}

#button-optimize{
  margin-top: 10px;
  width: 150px;
  margin-left: 8px;
}

.label{
  width: 200px;
}

.combobox-input{
  width: 250px;
  padding : 0.5rem;
}
